*{
  margin: 0;
  padding: 0;
}
@font-face {
font-family: 'Source-Han-Light';
src: url('font/Source-Han-Light.eot');
src: url('font/Source-Han-Light.eot?#iefix') format('embedded-opentype'),
     url('font/Source-Han-Light.woff') format('woff'),
     url('font/Source-Han-Light.ttf') format('truetype'),
     url('font/Source-Han-Light.svg#Source-Han-Light') format('svg');
    font-weight: normal;
    font-style: normal;
   }
html, body {
  position: relative;
  width: 100%;
}

html {
  background-color: #f5faff;
  font-size: 0;
  height: 100%;
  overflow-x: hidden;
}
body {
  overflow: hidden;
}
a{
  text-decoration:none;
  color:#333;
  display: inline-block;
}


h1, h2, h3, p,textarea {
  letter-spacing: 0.05em;
  line-height: 125%;
  font-family: Source-Han-Light, sans-serif;
}
p{
  line-height: 120%;
  margin-top: 2vw;
  margin-bottom: 2vw;
  color: #444;
  text-align: center;
}

h1 {
  font-weight: 300;
  color: #222;
}

h2 {
  text-align: center;
  font-weight: 300;
  color: #222;
  z-index: 1;
}

h3 {
  font-size: 4vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-weight: 300;
}

section {
  padding-top: 8vw;
  position: relative;
  display: block;
}
@media screen and (max-width: 300px) {
  section {
    padding-top: 15px;
  }
}
@media screen and (min-width: 1200px) {
  section {
    padding-top: 60px;
  }
}





/*navigation start*/
nav {
  /*padding: 1vw;*/
  padding-top:1vw; 
  padding-bottom: 1vw;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  text-align: center;
  z-index: 2;
  right: 0;
  left: 0;
  top: 0;
}


nav a {
  
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  display: inline-block;
  color: #f5faff;
  text-decoration: none;
  text-transform: uppercase;
  border-left: 1px solid #575e68;
  border-left: 1px solid #575e68;
}

/*navigation ends*/

/*cover begin*/
.cover {
  height: 100vh;
  box-sizing: border-box;
  z-index: 3;
}
.btn{
  display: inline-block;
  width: 12vw;
  padding:15px 0px;
  border-radius: 5px;
  text-align: center;
}
.download{
  background-color: rgba(0,0,244,0.3);
}
.cover .download{
  color: #f5faff;
  display:inline-block;
  position: absolute;
  left: 40%;
  top: 55%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cover .download:hover{
  background-color: rgba(0,0,244,0.5);
}
.cover .more{
  display:inline-block;
  border: 2px solid rgba(0,0,244,0.3);
  position: absolute;
  left: 60%;
  top: 55%;
  padding: 13px 0;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cover .more:hover{
  border-color: rgba(0,0,244,0.5);
}
.cover p{
  color: #f5faff;
  display:inline-block;
  position: absolute;
  left: 50%;
  top: 36%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cover h1 {
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 5vw;
  line-height: 75%;
  color: #f5faff;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 30%;
}
.cover #logo{
  display: inline-block;
}
.cover #top-download{
  display: inline-block;
  float: right;
}

/*cover ends*/

.content {
  z-index: 1;
  width: 1020px;
  margin: 0 auto;
  /*border: 1px solid red;*/
}
.content .section-box{
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  /*border: 1px solid green;*/
}
.content .section-box h1{
  text-align: center;
  margin-bottom: 40px;
}
.content .section-box h3{
  text-align: center;
  margin: 40px 0 50px;
}
.content .section-box {
    padding-top: 60px;
}


.content div img {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.95;
  width: 100%;
  height: auto;
}
.content div img:hover {
  opacity: 1;
}


#section-two .gn-box{
  width: 30%;
  height: 300px;
  margin: 20px;
  display:-webkit-flex;
  display:-moz-flex;
  display:flex;
  display:-ms-flexbox;
  flex-direction:column;
  justify-content:space-between;
}

#section-two .gn-box img{
  width: 120px;
  height: 100px;
  margin: 0 auto;
}
#section-two .gn-box p{
  text-align: center;
}
#section-two .gn-box-wrapper{
  /*border: 1px solid #333;*/
  display:-webkit-flex;
  display:-moz-flex;
  display:flex;
  display:-ms-flexbox;
  justify-content:space-around;
  flex-wrap:wrap;
  box-align:center;
}
#section-three{
  margin-bottom: 100px;
}
#section-three .contact-box-wrapper{
  display: flex;
  justify-content:center;
  /*border: 1px solid #333;*/
}
#section-three .contact-box{
  width: 40px;
  height: 40px;
  margin: 40px;
  display:-webkit-flex;
  display:-moz-flex;
  display:flex;
  display:-ms-flexbox;
  align-items:center;
}

#section-four .user-evaluate-box{
  margin: 20px auto;
  overflow: hidden;
  width: 720px;
}

.footer{
  height: 10vh;
  background-color: rgb(34,39,44);
  text-align: center;
  
}
.footer p{
  color: #fff;
  line-height: 10vh;
  font-size: 16px;
}
.footer a{
  color: #fff;
}

@media all and (min-width: 720px){
  p {
    font-size: 1.5vw;
  }
  h1 {
    font-size: 4vw;
  }
  h2 {
    font-size: 2vw;
    line-height: 200%;
  }
  h3 {
    font-size: 1.5vw;
  }
  nav {
    padding: 1vw;
  }
  nav a {
    
    padding: 1vw;
    font-size: 6vw;
  }
  .cover{
    background-image: url(../img/bg.png);
  }
  .cover h1 {
    padding: 60px;
  }
  #section-two .gn-box{
  width: 20%;
  height: 300px;
  margin: 20px;
  display:-webkit-flex;
  display:-moz-flex;
  display:flex;
  display:-ms-flexbox;
  flex-direction:column;
  justify-content:center;
}
  #section-three .contact-box{
    width: 5vw;
    height: 5vh;
  }
  .user-name{
    font-size: 1vw;
  }
}
@media all and (max-width: 720px){
  .content{
    width: 90%;
  }
  p {
    font-size: 4vw;
  }
  h1 {
    font-size: 8vw;
  }
  h2 {
    font-size: 6vw;
  }
  h3 {
    font-size: 4vw;
  }
  
  nav {
    padding: 10px;
  }
  nav a {
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: 2vw;
    font-size: 5vw;
  }
  .cover h1 {
    padding: 15px;
  }
  .btn{
    width: 30vw;
    padding:15px 0px;
  }
  .cover{
    background-image: url(../img/bg.png); 
    background-image: url(../img/bg.webp); 
  }
  .cover .download{
    position: absolute;
    left: 30%;
    top: 55%;
  }
  .cover .download:hover{
    background-color: rgba(0,0,244,0.5);
  }
  .cover .more{
    position: absolute;
    left: 70%;
    top: 55%;
    padding: 13px 0;
  }
  #section-two{
    width: 90%;
  }
  #section-two .gn-box{
    width: 100%;
    height: 280px;
    display:-webkit-flex;
    display:-moz-flex;
    display:flex;
    display:-ms-flexbox;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    /*border: 1px solid red;*/
  }
  /*#section-two .gn-box h2,#section-two .gn-box p,#section-two .gn-box img{
    border: 1px solid blue;
  }*/
  #section-two .gn-box h2{
    margin: 2vh 0;
  }
   #section-three .contact-box{
    width: 8vw;
    height: 8vw;
  }
  #section-four .user-evaluate-box{
    margin: 20px auto;
    overflow: hidden;
    width: 90%;
  }
  .user-name{
    font-size: 3vw;
  }
  .footer p{
    font-size: 3vw;
  }
}


