body{
	max-width: 1000px;
	overflow: hidden;
}
img {
	width: 100%;
}
/*gallery begins*/
#xx_gallery{
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.xx_gallery_wrap {
  overflow: hidden;
  position: relative;
}
.xx_gallery_box {
  float:left;
  width:100%;
  position: relative;
}
.xx_gallery_box img{
	max-height: 200px;
}
/*gallery ends*/

.xx_search{
	margin: 1em 0;
}
.xx_type{
	margin-bottom: 1em;
}
.xx_type_item_box{
	background-color: rgba(51,51,51,1);
	padding: 1em;
	border-radius: 3px;
	color:#fff;
}
.detail-h3{
	text-align: center;
	margin: 0;
}

/*list begins*/

.am-list-item-text{
	padding: 0;
}
.xx_list_time,.xx_list_read_count{
	font-size: 80%;
}
.xx_list_item_right{
	padding-left: 1em;
}
.xx_list_item_title{
	display: inline-block;
	width: 200px;
	/*标题过长时用省略号代替*/
	text-overflow:ellipsis;
	white-space:nowrap;
    overflow:hidden;
}
/*list ends*/